ROM.openPicIde
ROM.vhd
ROM_assembly.psm
ROM_summary.html
_ngo
_xmsgs
ascii_to_nibble.cmd_log
ascii_to_nibble.lso
ascii_to_nibble.prj
ascii_to_nibble.stx
ascii_to_nibble.vhi
ascii_to_nibble.xst
atlys_remote_terminal_pb.bgn
atlys_remote_terminal_pb.bit
atlys_remote_terminal_pb.bld
atlys_remote_terminal_pb.cmd_log
atlys_remote_terminal_pb.drc
atlys_remote_terminal_pb.lso
atlys_remote_terminal_pb.ncd
atlys_remote_terminal_pb.ngc
atlys_remote_terminal_pb.ngd
atlys_remote_terminal_pb.ngr
atlys_remote_terminal_pb.pad
atlys_remote_terminal_pb.par
atlys_remote_terminal_pb.pcf
atlys_remote_terminal_pb.prj
atlys_remote_terminal_pb.ptwx
atlys_remote_terminal_pb.stx
atlys_remote_terminal_pb.syr
atlys_remote_terminal_pb.twr
atlys_remote_terminal_pb.twx
atlys_remote_terminal_pb.unroutes
atlys_remote_terminal_pb.ut
atlys_remote_terminal_pb.xpi
atlys_remote_terminal_pb.xst
atlys_remote_terminal_pb_bitgen.xwbt
atlys_remote_terminal_pb_envsettings.html
atlys_remote_terminal_pb_guide.ncd
atlys_remote_terminal_pb_map.map
atlys_remote_terminal_pb_map.mrp
atlys_remote_terminal_pb_map.ncd
atlys_remote_terminal_pb_map.ngm
atlys_remote_terminal_pb_map.xrpt
atlys_remote_terminal_pb_ngdbuild.xrpt
atlys_remote_terminal_pb_pad.csv
atlys_remote_terminal_pb_pad.txt
atlys_remote_terminal_pb_par.xrpt
atlys_remote_terminal_pb_summary.html
atlys_remote_terminal_pb_summary.xml
atlys_remote_terminal_pb_usage.xml
atlys_remote_terminal_pb_xst.xrpt
clk_to_baud.cmd_log
clk_to_baud.lso
clk_to_baud.prj
clk_to_baud.stx
clk_to_baud.vhi
clk_to_baud.xst
fuse.log
fuse.xmsgs
fuseRelaunch.cmd
iseconfig
isim
isim.cmd
isim.log
lab.gise
lab.xise
nibble_to_ascii.cmd_log
nibble_to_ascii.lso
nibble_to_ascii.prj
nibble_to_ascii.stx
nibble_to_ascii.vhi
nibble_to_ascii.xst
par_usage_statistics.html
pepExtractor.prj
requiredFuctionality.openPicIde
requiredRomAssembly.psm
top_level.lso
top_level.prj
top_level.stx
top_level.xst
top_level_summary.html
top_level_testbench_beh.prj
top_level_testbench_isim_beh.exe
top_level_testbench_isim_beh.wdb
top_level_testbench_stx_beh.prj
uart_rx6.cmd_log
uart_rx6.vhi
uart_tx6.cmd_log
uart_tx6.vhi
usage_statistics_webtalk.html
webtalk.log
webtalk_pn.xml
xilinxsim.ini
xlnx_auto_0_xdb
xst
