ROM.openPicIde
ROM_assembly.psm
ROM_summary.html
_xmsgs
atlys_remote_terminal_pb.lso
atlys_remote_terminal_pb.prj
atlys_remote_terminal_pb.stx
atlys_remote_terminal_pb.xst
fuse.log
fuse.xmsgs
fuseRelaunch.cmd
iseconfig
isim
isim.cmd
isim.log
lab.gise
lab.xise
pepExtractor.prj
top_level.lso
top_level.prj
top_level.stx
top_level.xst
top_level_summary.html
top_level_testbench_beh.prj
top_level_testbench_isim_beh.exe
top_level_testbench_isim_beh.wdb
*.html
*.prj
*.lso
*.stx
*.xst
*.exe
*.cmd
*.log
bench_stx_beh.prj
xilinxsim.ini
*.bld
*.cmd_log
*.ngc
*.ngr
*.syr
*.xrpt
*.xml

